:root {
  --primary-color: #DA282B;
  --secondary-color: #003F5E;
  --tertiary-color: #022336;
  --quaternary-color: #037FD0;
  --quinary-color: #FDBC08;
  --senary-color: #013759;
  --white-color: #ffff;
  --bg-color: #3D3C5A;
}