nav {
  width: 100%;
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid var(--white-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--tertiary-color);
}

.bss-name{
  height: auto;
}
.bss-name img{
  margin-top: 10px;
  margin-left: -150px;
  width: 22%;
  height: 22%;
}

.navbar.dark-theme {
  background-color: var(--white-color);
  border-bottom: 2px solid var(--tertiary-color);
}

.navbar.dark-theme .bss-name img {
  filter: invert(100%);
}

.navbar.dark-theme a {
  color: var(--tertiary-color);
}

.navbar.dark-theme a:hover {
  color: var(--tertiary-color);
  font-weight: 600;
}