nav {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 1rem 0;
  height: 30px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--tertiary-color);
}
.bss-name{
  font-size: 2rem;
  color: #fff;
  margin-left: 2rem;
  margin-top: 15px;
  margin-right: 2rem;
}