.slide-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.slide-down img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
}