.margin {
  margin-right: 2rem;
  margin-left: 2rem;
}

/* HERO SECTION */
.title-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
}

.title>h2 {
  font-size: 4.5rem;
  color: var(--tertiary-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
}

.title>h2>span {
  font-weight: 800;
  background: linear-gradient(to bottom, #037FD0, #003F5E);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.title>h4 {
  font-size: 1.5rem;
  color: var(--tertiary-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -3rem;
  font-weight: 150;
  font-style: italic;
  font-variant: small-caps;
}

.title-banner>a {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  color: #fff;
  width: 250px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.caps-against {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5rem;
}

.cap-left-container {
  display: flex;
  align-items: center;
  transform: translateX(-30%);
}

.cap-left-container img {
  width: auto;
  height: auto;
}

.cap-left-container h4 {
  font-size: 2.6rem;
  color: var(--tertiary-color);
  left: 0;
  width: 30%;
  margin-left: -12rem;
  text-align: left;
}

.cap-right-container {
  display: flex;
  align-items: center;
  transform: translateX(18%);
  margin-top: 2rem;
}

.cap-right-container img {
  width: auto;
  height: auto;
}

.cap-right-container h4 {
  font-size: 2.6rem;
  color: var(--tertiary-color);
  margin-left: -15rem;
  text-align: right;
}

.mision-establishment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.mision-establishment h4 {
  font-size: 2.6rem;
  color: var(--tertiary-color);
  margin-bottom: 3px;
}

.mision-establishment p {
  font-size: 1.1rem;
  color: var(--tertiary-color);
  width: 60%;
  text-align: left;  

}

.cap-bluecaps-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cap-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 8rem;
}

.cap-top>h4 {
  font-size: 2rem;
  color: var(--tertiary-color);
}

.vision-establishment>h4 {
  font-size: 2rem;
  text-align: left;
  color: var(--tertiary-color);
  margin-bottom: 0;
}

.vision-establishment p {
  font-size: 1.1rem;
  color: var(--tertiary-color);
  width: 60%;
  text-align: left;
}

.vision-establishment span {
  font-size: 1.1rem;
  color: var(--tertiary-color);
  font-style: italic;
  font-weight: 350;
}

.toolbox-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 8rem;
}

.toolbox-title>h4 {
  font-size: 2rem;
  color: var(--tertiary-color);
  margin-top: 0;
}

.cap-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.card-cap-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 2rem;
}

.button-on-border {
  position: absolute;
  bottom: -20px;
  left: 70%;
  transform: translateX(-50%);
}

.card-cap-wrapper>.btn-w {
  width: 6.5rem;
}

.section-gap {
  margin-top: 3rem;
  margin-bottom: 3rem;
}