.margin {
  margin-right: 2rem;
  margin-left: 2rem;
}

/* bg config */
.dark-bg {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  position: relative;
}

.light-bg {
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
}

/* HERO SECTION */
.section1 {
  height: 90vh;
  margin-bottom: 1rem;
}

.img-banner {
  width: 70%;
  height: 70%;
}
.img-banner img{
  width: 70%;
  height: 70%;
  margin-top: 1rem;
}

.title-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
}

.title>h2 {
  font-size: 4.5rem;
  color: var(--white-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
}

.title>h2>span {
  font-weight: 800;
  background: linear-gradient(to bottom, var(--white-color), var(--quinary-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.title>h4 {
  font-size: 1.5rem;
  color: var(--white-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -3rem;
  font-weight: 150;
  font-style: italic;
  font-variant: small-caps;
}

.title-banner>a {
  padding: 1rem 2rem;
  border: none;
  border-radius: 40px;
  background-color: var(--white-color);
  color: var(--tertiary-color);
  width: 250px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}


.cap-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 8rem 0;
}

.cap-grid-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1rem;
  text-align: left;
}

.cap-grid-text h3 {
  font-size: 2.5rem;
  color: var(--tertiary-color);
  font-weight: 800;
  margin-bottom: 1rem;
}

.cap-grid-text p {
  font-size: 1.2rem;
  color: var(--tertiary-color);
}

/* TOOLBOX SECTION */
.toolbox-container {
  position: relative;
  margin-top: 2rem;
  height: auto;
}

.toolbox-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.toolbox-title>h4 {
  font-size: 2rem;
  color: var(--white-color);
  margin-top: 2.5rem;
}

.cap-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  z-index: 2;
  height: auto;
}

.card-cap-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  margin-bottom: 2rem;
  height: auto;
}

.button-on-border {
  position: absolute;
  bottom: -20px;
  left: 70%;
  transform: translateX(-50%);
}

.card-cap-wrapper>.btn-w {
  width: 6.5rem;
}

.section-gap {
  margin-top: 3rem;
  margin-bottom: 3rem;
}


.department-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 8rem;
}

.department-title>h4 {
  font-size: 2rem;
  color: var(--tertiary-color);
  margin-top: 0;
}

.department-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.cap-grid .twocolumns>div>img {
  width: 75%;
  height: 75%;
  margin: 0 auto;
}


/* COLLAGE */
.collage-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.cap2-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  transform: rotate(30deg);
}

.w2cap-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  transform: rotate(15deg);
  padding-left: 1rem
}